@import './index.scss';

.banner-container{
    position: relative;
    object-fit: cover;
    width: 100%;
}
.arrival-box{
    background-color:transparent;
    background-size: cover;
    width: 600px;
    height: 500px;
    left: 1150px;
    top: 140px;
}
.head1{ 
   font-size: $h1;
   letter-spacing: 5px;
   padding-left: 25%;
   color: $color3;
   font-weight: 700;
   margin-bottom: 5%;
}
.head2{
  font-size: $h9;
  font-family: $family;
  padding-left: 7%;
  color: $color4;
  font-weight: 700;
}
.para{
  font-size: $h2;
  font-family: $family;
  color: $color4;
  font-weight: 700;
}
.arrival-btn{
  border: 1px solid $color4;
  font-size: $h1;
  font-family: $family;
  font-weight: 700;
  color:$color4;
  background-color:$color1;
  padding: 15px 15px;
  margin: 15px 0;
  justify-content: center;
  align-items: center;
  border-radius: 70%;
}
.b-btn{
  padding-left: 30%;
}
.fur-info{
  margin-top: 3%;
}
.heading{
  font-size: $h7;
  font-family: $family;
  text-align: center;
  color: $color4;
}
.prag{
  font-size: $h2;
  font-family: $family;
  text-align: center;
  color: $color2;
}
.fur-category{
   justify-content: center;
   display: flex;
   margin-top: 3%;

.categories{
  display: flex;

  .catlog{
    padding-left: 2rem;
  }
  .type{
    margin-left: 9.5rem;
    font-family: $family;
    font-size: $h3;
    color: $color4;
  }
}
}

@include breakpoint(xs){

}